@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@font-face {
    font-family: DreamAvenue;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/woff/Dream-Avenue.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@layer base {
    :root {
        --padding-card : 2rem 2.5rem 1.75rem 2.5rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-display;
    }
}

@layer components {
    [data-theme="mytheme"] .btn {
        @apply text-base-100 capitalize;
    }
    .card-compact .card-body {
        padding: 1.5rem;
    }
    #members {
        -webkit-box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;
        -moz-box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;
        box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;

    }
    #card-1 {
        -webkit-box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
        -moz-box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
        box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
    }
}

#hero-image::before {
    position: absolute;
    content: "";
    background-image: url("/assets/img/shape1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
#hero-image::after {
    position: absolute;
    content: "";
    background-image: url("/assets/img/Illustration.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 569px;
    top: 0;
    right: 0;
}

.circle-repeat {
    background-image: radial-gradient(ellipse, hsl(var(--a)) 0%, hsl(var(--a)) 22.5%, transparent 0%);
    background-size: 22px 22px;
    background-repeat: repeat;
    position: relative;
}
.circle-repeat::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}
