@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@font-face {
    font-family: DreamAvenue;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/woff/Dream-Avenue.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@layer base {
    :root {
        --padding-card : 2rem 2.5rem 1.75rem 2.5rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-display;
    }
}

@layer components {
    [data-theme="mytheme"] .btn {
        @apply text-base-100 capitalize;
    }
    .card-compact .card-body {
        padding: 1.5rem;
    }
    #members {
        -webkit-box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;
        -moz-box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;
        box-shadow: 16px 16px 0 0 hsl(var(--p)) !important;

    }
    #card-1 {
        -webkit-box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
        -moz-box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
        box-shadow:  0 16px 0 -4px hsl(var(--p)) !important;
    }
}



/*:root {*/
/*    --sticky-header-height: 73px;*/
/*}*/

/*img {*/
/*    object-fit: contain;*/
/*}*/
/*body {*/
/*    overflow-x: hidden;*/
/*}*/

/*.ze-container {*/
/*    max-width: 100%;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .ze-container {*/
/*        max-width: 95%;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/
/*@media (min-width: 1440px) {*/
/*    .ze-container {*/
/*        max-width: 1330px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*.li-inline li {*/
/*    display: inline;*/
/*}*/

/*.prose {*/
/*    max-width: 100%;*/
/*}*/


/*.visually-hidden {*/
/*    clip: rect(0 0 0 0);*/
/*    -webkit-clip-path: inset(50%);*/
/*    clip-path: inset(50%);*/
/*    height: 1px;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    white-space: nowrap;*/
/*    width: 1px;*/
/*}*/

/*@layer components {*/
/*    .icon-shape {*/
/*        @apply flex items-center rounded-base bg-slate-100 dark:bg-slate-600  pr-1.5 pl-[.4375rem] h-[2.125rem];*/
/*    }*/

/*    .icon-shape svg {*/
/*        flex-shrink: 0;*/
/*    }*/

/*    .btn {*/
/*        @apply inline-flex flex-row gap-2 justify-center items-center rounded-base pr-3 pl-2.5 laptop:pr-3.5 laptop:pl-3 h-[34px] text-btn-desktop;*/
/*    }*/

/*    .btn svg {*/
/*        flex-shrink: 0;*/
/*    }*/

/*    .btn-gray {*/
/*        @apply bg-slate-100 dark:bg-slate-600 text-slate-700 dark:text-slate-300;*/
/*    }*/

/*    .btn-green {*/
/*        @apply bg-green-600 text-white;*/
/*    }*/

/*    .btn-blue {*/
/*        @apply bg-primary-700 text-white;*/
/*    }*/

/*    .btn-outline {*/
/*        @apply bg-white dark:bg-slate-800 border border-slate-400 dark:border-slate-200 text-slate-400 dark:text-slate-200;*/
/*    }*/

/*    .chip {*/
/*        @apply text-xxs tablet:text-xs font-medium h-[22px] pl-2.5 pr-1 py-0.5 inline-flex items-center justify-center rounded-full self-start gap-[3px] bg-slate-100 text-slate-500;*/
/*    }*/

/*    .chip-primary {*/
/*        @apply text-white bg-primary-500;*/
/*    }*/

/*    .chip-green {*/
/*        @apply bg-green-100 text-green-600;*/
/*    }*/

/*    .chip-yellow {*/
/*        @apply bg-amber-200 text-amber-700;*/
/*    }*/

/*    .chip-gray {*/
/*        @apply bg-slate-100 text-slate-600;*/
/*    }*/

/*     !* TODO: use tailwind class *!*/
/*    !* active tab *!*/
/*    .tabs-type-1 [aria-selected=true] {*/
/*        @apply bg-slate-700 dark:bg-slate-500 text-slate-50 dark:text-slate-50 dark:border-none;*/
/*    }*/

/*     !* TODO: use tailwind class *!*/
/*    .tabs-type-2 [aria-selected=true] {*/
/*        @apply bg-primary-500 text-white dark:text-white;*/
/*    }*/

/*    .alert {*/
/*        @apply rounded-base py-1 pr-[9px] pl-4 bg-slate-50 text-gray-900 text-right inline-flex items-center gap-2.5 text-xxs font-semibold;*/
/*    }*/

/*    .alert svg {*/
/*        flex-shrink: 0*/
/*    }*/

/*    .alert-blue {*/
/*        @apply bg-blue-100 text-blue-700;*/
/*    }*/
/*}*/

/*.swiper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.swiper-slide img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/


/*@media only screen and (min-width: 768px) {*/
/*    .hide-overfolw-6 > .card:nth-child(n+7) {*/
/*        display: none;*/
/*    }*/
/*    .hide-overfolw-4 > .card:nth-child(n+5) {*/
/*        display: none;*/
/*    }*/
/*}*/

/*.post:last-child {*/
/*    border: none;*/
/*}*/


/*.header {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    z-index: 100*/
/*}*/

/*.sticky {*/
/*    position: fixed;*/
/*    top: calc(var(--sticky-header-height) * -1);*/
/*    left: 0;*/
/*    height: var(--sticky-header-height);*/
/*    animation: goDown 0.5s ease-in-out forwards;*/

/*}*/

/*.sticky .hide-sticky {*/
/*    display: none;*/
/*}*/

/*ul.li-padding-24 li:not(:last-child){*/
/*    padding-left: 24px;*/
/*}*/

/*ul.li-padding-16 li:not(:last-child){*/
/*    padding-left: 16px;*/
/*}*/

/*@keyframes goDown {*/
/*    0% {*/
/*        top: calc(var(--sticky-header-height) * -1);*/
/*    }*/

/*    100% {*/
/*        transform: translateY(var(--sticky-header-height));*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*    .hide-for-mobile {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 769px) {*/
/*    .hide-for-desktop {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 769px) {*/
/*    .posts-wrapper {*/
/*        background-color: transparent !important;*/
/*    }*/
/*}*/
/*.header-mobile.open .hamburger-btn > span:first-child {*/
/*    transform: rotate(45deg);*/
/*}*/
/*.header-mobile.open .hamburger-btn > span:nth-child(2) {*/
/*    opacity: 0;*/
/*}*/
/*.header-mobile.open .hamburger-btn > span:last-child {*/
/*    transform: rotate(-45deg);*/
/*}*/

/*.drawer {*/
/*    transition: right 0.3s ease;*/
/*}*/
/*.header-mobile.open .drawer{*/
/*    right: 0;*/
/*}*/

/*.body-scroll-lock {*/
/*    overflow: hidden;*/
/*}*/
/*.drawer-close-side {*/
/*    display: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    backdrop-filter: blur(5px); !* Apply the blur filter *!*/
/*    z-index: 999;*/
/*    pointer-events: none;*/
/*    transition: backdrop-filter 0.3s ease-in-out;*/
/*}*/

/*.drawer-close-side-show {*/
/*    display: block;*/
/*    opacity: 1;           !* Make the overlay fully opaque *!*/
/*    pointer-events: auto; !* Allow interactions with the overlay *!*/
/*}*/

/*.tile {*/
/*    @apply w-[296px] h-[188px] tablet:w-auto;*/
/*}*/

/*.button {*/
/*	display: inline-block;*/
/*	height: 50px;*/
/*	line-height: 50px;*/
/*	text-align: center;*/
/*	text-decoration: none;*/
/*	cursor: pointer;*/
/*	-moz-user-select: none;*/
/*	-khtml-user-select: none;*/
/*	-webkit-user-select: none;*/
/*	-ms-user-select: none;*/
/*	user-select: none;*/
/*}*/

/*.button:hover {*/
/*	transition-duration: 0.4s;*/
/*	-moz-transition-duration: 0.4s;*/
/*	-webkit-transition-duration: 0.4s;*/
/*	-o-transition-duration: 0.4s;*/
/*}*/

/*.search-container {*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	height: 50px;*/
/*	width: 50px;*/
/*	vertical-align: bottom;*/
/*}*/

/*.mglass {*/
/*	display: inline-block;*/
/*	pointer-events: none;*/

/*}*/

/*.searchbutton {*/
/*	position: absolute;*/
/*	width: 100%;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

/*.search:focus + .searchbutton {*/
/*	transition-duration: 0.4s;*/
/*	-moz-transition-duration: 0.4s;*/
/*	-webkit-transition-duration: 0.4s;*/
/*	-o-transition-duration: 0.4s;*/
/*}*/

/*.search {*/
/*	position: absolute;*/
/*	right: 49px; !* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) *!*/
/*	outline: none;*/
/*	border: none;*/
/*	padding: 0;*/
/*	width: 0;*/
/*	height: 100%;*/
/*	z-index: 10;*/
/*	transition-duration: 0.4s;*/
/*	-moz-transition-duration: 0.4s;*/
/*	-webkit-transition-duration: 0.4s;*/
/*	-o-transition-duration: 0.4s;*/
/*}*/

/*.search:focus {*/
/*	width: calc(100vw - 120px);*/
/*	padding: 0 16px 0 0;*/
/*}*/

/*@layer components {*/

/*  .search:focus::placeholder {*/
/*    @apply text-gray-800 dark:text-white text-sm;*/
/*  }*/
/*}*/

/*.expandright {*/
/*	right: auto; */
/*	left: 49px;*/
/*}*/

/*.expandright:focus {*/
/*	padding: 0 16px 0 0 ;*/
/*}*/

/*#mega-menu {*/
/*    display: none;*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s ease-in-out;*/
/*}*/

/*.search-box-hide {*/
/*    display: none;*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s ease-in-out;*/
/*}*/

/*!*******************************!*/
/*@layer components {*/

/*    .mega-menu-nav ul > li{*/
/*        @apply ml-[72px];*/
/*    }*/
/*    .mega-menu-nav .sub-menu li{*/
/*        @apply pr-3 text-slate-600 dark:text-slate-300 text-sm;*/
/*    }*/

/*    .mega-menu-nav > ul > li > a {*/
/*        @apply block ml-3 pb-4 font-bold text-sm text-slate-700 dark:text-slate-300;*/
/*    }*/
/*    .header-drawer-menu ul > li{*/
/*        !*@apply list-item text-sm text-slate-700 dark:text-slate-300 py-1;*!*/
/*    }*/
/*    .header-drawer-menu .sub-menu{*/
/*        !*@apply hidden font-semibold text-slate-600 dark:text-slate-400;*!*/
/*    }*/
/*    .header-drawer-menu .sub-menu li{*/
/*        !*@apply pr-3 text-slate-600 dark:text-slate-300 text-sm;*!*/
/*    }*/

/*    .header-drawer-menu > ul > li > a {*/
/*        !*@apply block ml-3 pb-4 font-bold text-sm text-slate-700 dark:text-slate-300;*!*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children>a {*/
/*        @apply block ml-3 pb-4 font-bold text-sm text-slate-700 dark:text-slate-300;*/
/*        position: relative;*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children>a:after {*/
/*        content: "+";*/
/*        position: absolute;*/
/*        left: 0;*/
/*        font-size: 1.2rem*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children.opened>a {*/
/*        @apply text-primary-500;*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children.opened>a:after {*/
/*        content: "-"*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children.opened .sub-menu {*/
/*        height: auto;*/
/*        transform: scaleY(1);*/
/*        visibility: visible*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children .sub-menu {*/
/*        padding: 0;*/
/*        margin: 0;*/
/*        list-style: none;*/
/*        transform: scaleY(0);*/
/*        height: 0;*/
/*        transform-origin: top;*/
/*        transition: transform .3s;*/
/*        visibility: hidden;*/
/*        overflow: hidden*/
/*    }*/

/*    .header-drawer-menu .menu-item-has-children .sub-menu li {*/
/*        !*margin: 4px 0*!*/
/*    }*/
/*  .header-drawer-menu .menu-item-has-children .sub-menu li a{*/
/*      @apply block ml-3 pb-4 font-bold text-sm text-slate-700 dark:text-slate-300;*/

/*    }*/


/*    .pagination ul> :not(:last-child) {*/
/*        @apply border-l border-gray-300 dark:border-gray-700;*/
/*    }*/
/*    .pagination .page-numbers {*/
/*        display: flex;*/
/*    }*/
/*    .pagination>ul>li .current {*/
/*        @apply bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white cursor-default;*/
/*    }*/

/*    .pagination li>a,*/
/*    .pagination li>span{*/
/*        @apply bg-white dark:bg-gray-800 text-slate-500 dark:text-gray-400 flex justify-center items-center h-8 px-3 py-1.5 text-sm font-medium;*/
/*    }*/

/*}*/
/*!*TODO: remove after developement*!*/
/*body {*/
/*    overflow-x: visible;*/
/*}*/

/*video[poster]{*/
/*    height:100%;*/
/*    width:100%;*/
/*}*/


/*!*.video-wrapper {*!*/
/*!*    position: relative;*!*/
/*!*}*!*/

/*!*.video-wrapper > video {*!*/
/*!*    width: 100%;*!*/
/*!*    vertical-align: middle;*!*/
/*!*}*!*/

/*.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {*/
/*    display: none;*/
/*}*/

/*!*.video-overlay-play-button {*!*/
/*!*    box-sizing: border-box;*!*/
/*!*    max-width: 100%;*!*/
/*!*    height: 100%;*!*/
/*!*    padding: 10px calc(50% - 50px);*!*/
/*!*    position: absolute;*!*/
/*!*    top: 0;*!*/
/*!*    left: 0;*!*/
/*!*    display: block;*!*/
/*!*    opacity: 0.6;*!*/
/*!*    cursor: pointer;*!*/
/*!*    background-image: linear-gradient(transparent, #000);*!*/
/*!*    transition: opacity 150ms;*!*/
/*!*}*!*/

/*!*.video-overlay-play-button:hover {*!*/
/*!*    opacity: 0.65;*!*/
/*!*}*!*/

/*.video-overlay-play-button.is-hidden {*/
/*    display: none;*/
/*}*/

/*.meta-cell-gradient {*/
/*    background: linear-gradient(270deg, #F0F4F8 0%, rgba(240, 244, 248, 0.51) 48.81%, rgba(240, 244, 248, 0.00) 100%);*/
/*}*/

/*.dark-meta-cell-gradient {*/
/*    background: linear-gradient(270deg, #334155 0%, rgba(51, 65, 85, 0.51) 48.81%, rgba(51, 65, 85, 0.00) 100%);*/
/*}*/

/*.insta-gradient {*/
/*    background: linear-gradient(231deg, #B71D72 0%, #C82354 21.51%, #D9383C 52.60%, #E3653A 78.50%, #EA7E39 100%);*/

/*}*/


/*!*TODO since the hierachy not working some styles needs fixins*!*/

/*!* single table of content *!*/
/*@layer components {*/
/*    .prose #ez-toc-container {*/
/*        margin-bottom: 2rem;*/
/*        text-decoration: none;*/
/*        max-width: 80%;*/
/*    }*/
/*    .prose p.ez-toc-title{*/
/*        @apply text-slate-600 dark:text-slate-200 text-sm font-black m-0 py-2;*/
/*    }*/
/*    .prose .ez-toc-list a{*/
/*        @apply text-slate-600 dark:text-slate-200 text-sm font-bold no-underline py-1.5 px-2;*/
/*    }*/

/*    .prose #ez-toc-container li {*/
/*        @apply border border-slate-200 dark:border-slate-400;*/
/*    }*/
/*     .prose #ez-toc-container .ez-toc-list {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        gap: 0.5rem;*/
/*    }*/
/*}*/
/*.prose #ez-toc-container ul{*/
/*    list-style: none;*/
/*}*/

/*.prose #ez-toc-container nav,*/
/*.prose #ez-toc-container ul,*/
/*.prose #ez-toc-container li{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.prose .ez-toc-counter-rtl nav ul li a::before {*/
/*    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='8' viewBox='0 0 7 8' fill='none'%3E%3Ccircle cx='3.5' cy='4' r='3.5' fill='%23CAD4E0'/%3E%3C/svg%3E");*/
/*    display: inline-block;*/
/*    margin-left: 0.5rem;*/
/*}*/

/*!*!* Prose styles *!*!*/
/*!*@layer components {*!*/

/*!*    .prose {*!*/
/*!*        @apply text-sm text-slate-600 dark:text-slate-200;*!*/
/*!*    }*!*/

/*!*    .prose p {*!*/
/*!*        @apply font-normal;*!*/
/*!*    }*!*/

/*!*    .prose h1, h2, h3 {*!*/
/*!*        @apply font-black;*!*/
/*!*    }*!*/
/*!*    .prose :where(strong):not(:where([class~="not-prose"] *)) {*!*/
/*!*        @apply dark:text-slate-200;*!*/
/*!*    }*!*/
/*!*}*!*/



/*.bg-custom-gray {*/
/*    background: lightgray 50% / cover no-repeat;*/
/*    box-shadow: -1px 1px 15px -5px #000;*/
/*}*/

/*!*single page, system styles*!*/
/*.single-tabs #system_content {*/
/*    text-align: left;*/
/*    font-size: 13px;*/
/*    line-height: 1.5rem;*/
/*    font-family: arial;*/
/*    list-style: none;*/
/*}*/

/*.single-tabs #system_content p strong {*/
/*    display: block;*/
/*    text-align: center;*/
/*    background: #37474f;*/
/*    padding: 5px;*/
/*    border: 1px solid #DDD;*/
/*    border-radius: 3px;*/
/*    margin: 0 0 10px;*/
/*    color: #FFF;*/
/*    direction: ltr;*/
/*}*/
/*.single-tabs .prose ul, li {*/
/*    list-style: none;*/
/*}*/

/*!*Comments*!*/
/*!*.comment-item:hover .comment-reply-link {*!*/
/*!*    display: block;*!*/
/*!*}*!*/

/*!*TODO styling needs to be completed*!*/
/*@layer components {*/
/*    .comment-content .prose,*/
/*    .comment-content .prose-invert {*/
/*        @apply text-sm !important;*/
/*    }*/

/*    !*comment section header*!*/
/*    .comments-header [aria-selected=true] {*/
/*        @apply bg-white dark:bg-slate-800 border rounded-b-none border-slate-100 dark:border-slate-500;*/
/*        border-bottom: 0;*/
/*    }*/

/*    @media screen(tablet) {*/
/*        .comment-like-dislike {*/
/*            background-color: transparent !important;*/
/*        }*/
/*    }*/
/*    @media screen(laptop) {*/
/*        .comments-header [tab-active=true] {*/
/*            @apply col-span-3;*/
/*        }*/

/*        .comments-header :not([tab-active=true]) {*/
/*            @apply col-span-1;*/
/*        }*/
/*    }*/

/*    .comments-header [aria-selected=true] h3 {*/
/*        @apply text-slate-700 dark:text-slate-200;*/
/*    }*/

/*    .comments-header [aria-selected=true] h2 {*/
/*        @apply text-slate-500 dark:text-slate-300;*/
/*    }*/

/*    #comments .comments-pagination .nav-links {*/
/*        @apply border-gray-300 dark:border-slate-500 rounded-sm;*/
/*    }*/
/*    #comments a.page-numbers .dots,*/
/*    #comments a.page-numbers,*/
/*    #comments span.current {*/
/*        @apply block border-l-gray-300 dark:border-l-slate-500 bg-white dark:bg-slate-800 font-primary text-gray-500 dark:text-slate-50 font-medium text-sm  py-1 tablet:py-1.5 px-1 tablet:px-3;*/
/*    }*/

/*    #comments a.page-numbers .dots {*/
/*        @apply text-gray-500 dark:text-slate-50;*/
/*    }*/

/*    #comments span.current {*/
/*        @apply text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-700;*/
/*    }*/

/*    .like_dislike_btn.already_liked svg path,*/
/*    .like_dislike_btn.already_disliked svg path {*/
/*        @apply fill-gray-600;*/
/*    }*/

/*}*/

/*#comments .comments-pagination .nav-links {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*#comments .comments-pagination .prev,*/
/*#comments .comments-pagination .next {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#comments .prev.page-numbers {*/
/*    display: flex;*/
/*    gap: 2px;*/
/*}*/

/*#comments .chevron-left,*/
/*#comments .chevron-right {*/
/*    display: inline-block;*/
/*}*/
/*.comment-item:hover .chip.state-show-less {*/
/*    display: block;*/
/*}*/

/*.comment-content-text.show-more-height {*/
/*    height: 126px;*/
/*    overflow: hidden;*/
/*}*/

/*.show-more-box-gradient {*/
/*    background: linear-gradient(360deg, #FFF 0%, #FFF 23.96%, rgba(255, 255, 255, 0.00) 100%);*/
/*}*/
/*!*FAQ Box styles*!*/
